Repository fogfish/stream, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] api, [#] s3

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] api":
 - '*.go'
 - 'creek/*'

"[#] s3":
 - 'internal/s3/*'
 - 'internal/s3/**/*'

Update go.mod (5 modules)
  go.mod
  go.sum
Labels: [#] deps

fix aws sdk api compatibility break
  service/s3/s3.go
  service/s3url/s3url.go
Labels: none

update CI/CD deps
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  .github/workflows/check-triage.yml
Labels: [#] ci/cd

Update go.mod (5 modules) (#25)
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  .github/workflows/check-triage.yml
  go.mod
  go.sum
  service/s3/s3.go
  service/s3url/s3url.go
Labels: [#] ci/cd, [#] deps

simplify stream api
  README.md
  examples/go.mod
  examples/go.sum
  examples/s3url/s3url.go
  examples/stream/stream.go
  go.mod
  go.sum
  internal/codec/codec.go
  internal/s3ts/errors.go
  internal/s3ts/opCopy.go
  internal/s3ts/opHas.go
  internal/s3ts/opMatch.go
  internal/s3ts/opRemove.go
  internal/s3ts/opVisit.go
  internal/s3ts/opWait.go
  internal/s3ts/store.go
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/s3url.go
  types.go
Labels: [#] deps, [#] doc, [#] api

increase test coverage
  internal/codec/codec_test.go
Labels: none

update license
  examples/s3url/s3url.go
  examples/stream/stream.go
  internal/codec/codec.go
  internal/codec/codec_test.go
  internal/s3ts/errors.go
  internal/s3ts/opCopy.go
  internal/s3ts/opHas.go
  internal/s3ts/opMatch.go
  internal/s3ts/opRemove.go
  internal/s3ts/opVisit.go
  internal/s3ts/opWait.go
  internal/s3ts/store.go
  service/s3/options.go
  service/s3/s3.go
  service/s3url/options.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

add unit test with s3 schema
  internal/codec/codec_test.go
Labels: none

simplify stream api (#27)
  README.md
  examples/go.mod
  examples/go.sum
  examples/s3url/s3url.go
  examples/stream/stream.go
  go.mod
  go.sum
  internal/codec/codec.go
  internal/codec/codec_test.go
  internal/s3ts/errors.go
  internal/s3ts/opCopy.go
  internal/s3ts/opHas.go
  internal/s3ts/opMatch.go
  internal/s3ts/opRemove.go
  internal/s3ts/opVisit.go
  internal/s3ts/opWait.go
  internal/s3ts/store.go
  service/s3/options.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/options.go
  service/s3url/s3url.go
  types.go
Labels: [#] deps, [#] doc, [#] api

enable regexp matcher
  examples/stream/stream.go
  internal/s3ts/opMatch.go
  internal/s3ts/opVisit.go
  types.go
Labels: [#] doc, [#] api

Golang file system (fs.FS) abstraction tailored for AWS S3
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  Makefile
  README.md
  codec.go
  dir.go
  doc/stream.png
  examples/go.mod
  examples/go.sum
  examples/s3fs-metadata/s3fs.go
  examples/s3fs-presignurl/s3fs.go
  examples/s3fs-read-write/s3fs.go
  examples/s3fs-stat/s3fs.go
  examples/s3fs-walk/s3fs.go
  examples/s3url/s3url.go
  examples/stream/stream.go
  file.go
  filesystem.go
  filesystem_test.go
  go.mod
  go.sum
  internal/codec/codec.go
  internal/codec/codec_test.go
  internal/mocks/s3.go
  internal/s3ts/errors.go
  internal/s3ts/opCopy.go
  internal/s3ts/opHas.go
  internal/s3ts/opMatch.go
  internal/s3ts/opRemove.go
  internal/s3ts/opVisit.go
  internal/s3ts/opWait.go
  internal/s3ts/store.go
  options.go
  service/s3/options.go
  service/s3/s3.go
  service/s3url/options.go
  service/s3url/s3url.go
  types.go
Labels: [#] ci/cd, [#] deps, [#] doc, [#] api

minor fixes
  .github/workflows/check-test.yml
  README.md
  filesystem_test.go
Labels: [#] ci/cd, [#] doc, [#] api

update LICENSE at each file
  codec.go
  dir.go
  examples/s3fs-metadata/s3fs.go
  examples/s3fs-presignurl/s3fs.go
  examples/s3fs-read-write/s3fs.go
  examples/s3fs-stat/s3fs.go
  examples/s3fs-walk/s3fs.go
  file.go
  filesystem_test.go
  internal/mocks/s3.go
  options.go
Labels: [#] doc, [#] api

test coverage for invalid path
  filesystem.go
  filesystem_test.go
Labels: [#] api

file read I/O errors
  filesystem_test.go
  internal/mocks/s3.go
Labels: [#] api

improve error handling
  dir.go
  file.go
  filesystem.go
  filesystem_test.go
  internal/mocks/s3.go
Labels: [#] api
