Repository fogfish/stream, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] doc, [#] api, [#] s3

switch to aws-sdk-go-v2
  creek/creek.go
  examples/stream/stream.go
  go.mod
  go.sum
  internal/s3/codec.go
  internal/s3/codec_test.go
  internal/s3/s3.go
  internal/s3/seq.go
  types.go
Labels: [#] doc, [#] api, [#] s3

fix example
  examples/stream/stream.go
Labels: [#] doc

simplify dealing with generic pointer types
  config.go
  creek/creek.go
  examples/stream/stream.go
  go.mod
  go.sum
  internal/s3/codec.go
  internal/s3/codec_test.go
  internal/s3/s3.go
  internal/s3/seq.go
  types.go
  url.go
Labels: [#] doc, [#] api, [#] s3

fix unit test
  internal/s3/codec_test.go
Labels: [#] s3

assert for behaviour on error path
  examples/stream/stream.go
  internal/s3/s3.go
  internal/s3/seq.go
  types.go
Labels: [#] doc, [#] api, [#] s3

.github/labeler.yml:

"[#] doc":
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] api":
 - '*.go'
 - 'creek/*'

"[#] s3":
 - 'internal/s3/*'
 - 'internal/s3/**/*'
