Repository fogfish/stream, changes with the labels that .github/labeler.yml gives for each.
All labels: [#] ci/cd, [#] deps, [#] doc, [#] api, [#] s3

.github/labeler.yml:

"[#] ci/cd":
 - '.github/*'
 - '.github/**/*'

"[#] deps":
 - 'go.mod'
 - 'go.sum'

"[#] doc":
 - '*.md'
 - 'doc/*'
 - 'doc/**/*'
 - 'examples/**/*'

"[#] api":
 - '*.go'
 - 'creek/*'

"[#] s3":
 - 'internal/s3/*'
 - 'internal/s3/**/*'

use latest version of staticcheck
  .github/workflows/check-code.yml
Labels: [#] ci/cd

align error handling with behavior pattern
  README.md
  creek/creek.go
  creek/errors.go
  examples/stream/stream.go
  internal/s3/errors.go
  internal/s3/s3.go
  internal/s3/seq.go
  types.go
Labels: [#] doc, [#] api, [#] s3

copy streams in-the-place
  README.md
  examples/stream/stream.go
  internal/s3/s3.go
  types.go
Labels: [#] doc, [#] api, [#] s3

fix NotFound error
  internal/s3/errors.go
  internal/s3/s3.go
Labels: [#] s3

return metadata of stream with Has op
  README.md
  examples/stream/stream.go
  internal/s3/codec.go
  internal/s3/codec_test.go
  internal/s3/s3.go
  types.go
Labels: [#] doc, [#] api, [#] s3

better support for pointer types
  internal/s3/codec.go
  internal/s3/codec_test.go
Labels: [#] s3

define interface for s3 presigned url
  examples/s3url/s3url.go
  go.mod
  go.sum
  internal/seq/seq.go
  service/s3url/s3url.go
  service/s3url/seq.go
Labels: [#] deps, [#] doc

improve error handling
  examples/s3url/s3url.go
  service/s3url/errors.go
  service/s3url/s3url.go
  service/s3url/seq.go
Labels: [#] doc

align s3url and s3 interface
  README.md
  config.go
  creek/creek.go
  creek/errors.go
  examples/s3url/s3url.go
  examples/stream/stream.go
  go.mod
  go.sum
  internal/codec/codec.go
  internal/codec/codec_test.go
  internal/s3/s3.go
  internal/s3/seq.go
  service/s3/errors.go
  service/s3/object.go
  service/s3/s3.go
  service/s3/seq.go
  service/s3url/errors.go
  service/s3url/object.go
  types.go
Labels: [#] deps, [#] doc, [#] api, [#] s3

remove unused errors
  service/s3/errors.go
  service/s3url/errors.go
Labels: none

fix streamer interface
  types.go
Labels: [#] api

use connector string
  README.md
  config.go
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
Labels: [#] doc, [#] api

improve service api for DI
  examples/s3url/s3url.go
  examples/stream/stream.go
  go.mod
  go.sum
  internal/seq/seq.go
  service/s3/errors.go
  service/s3/object.go
  service/s3/s3.go
  service/s3/seq.go
  service/s3url/errors.go
  service/s3url/object.go
  service/s3url/s3url.go
  service/s3url/seq.go
  types.go
Labels: [#] deps, [#] doc, [#] api

remove unused function
  service/s3/errors.go
Labels: none

replace dsl-style copy api with pure-one
  examples/s3url/s3url.go
  examples/stream/stream.go
  service/s3/object.go
  service/s3/s3.go
  service/s3url/object.go
  service/s3url/s3url.go
Labels: [#] doc

return object on remove
  examples/s3url/s3url.go
  examples/stream/stream.go
  service/s3/s3.go
  service/s3url/s3url.go
Labels: [#] doc

Revert "return object on remove"
  examples/s3url/s3url.go
  examples/stream/stream.go
  service/s3/s3.go
  service/s3url/s3url.go
Labels: [#] doc

codec for curie.IRI
  go.mod
  go.sum
  internal/codec/codec.go
  internal/codec/codec_test.go
Labels: [#] deps

tidy sum file
  go.sum
Labels: [#] deps

fix codec for *curie.IRI
  internal/codec/codec.go
  internal/codec/codec_test.go
Labels: none

update deps
  config.go
  examples/go.mod
  examples/go.sum
  examples/s3url/s3url.go
  internal/codec/codec.go
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

update Go version
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
Labels: [#] ci/cd

update examples
  examples/go.mod
Labels: [#] doc

Update deps (#18)
  .github/workflows/check-code.yml
  .github/workflows/check-test.yml
  config.go
  examples/go.mod
  examples/go.sum
  examples/s3url/s3url.go
  internal/codec/codec.go
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
  types.go
Labels: [#] ci/cd, [#] doc, [#] api

return cursor while matching objects
  config.go
  examples/s3url/s3url.go
  examples/stream/stream.go
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

configure expiration of signed url using opt
  examples/s3url/s3url.go
  service/s3/s3.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

fix review comments
  service/s3/s3.go
Labels: none

return cursor while matching objects (#19)
  config.go
  examples/s3url/s3url.go
  examples/stream/stream.go
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

Type safe config options
  README.md
  config.go
  service/s3/config.go
  service/s3/s3.go
  service/s3url/config.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

update examples
  examples/s3url/s3url.go
  examples/stream/stream.go
Labels: [#] doc

Type safe config options (#20)
  README.md
  config.go
  examples/s3url/s3url.go
  examples/stream/stream.go
  service/s3/config.go
  service/s3/s3.go
  service/s3url/config.go
  service/s3url/s3url.go
  types.go
Labels: [#] doc, [#] api

update deps
  Makefile
  README.md
  go.mod
  go.sum
Labels: [#] deps, [#] doc

fix review comments
  Makefile
  go.sum
Labels: [#] deps

update deps (#21)
  Makefile
  README.md
  go.mod
  go.sum
Labels: [#] deps, [#] doc

fix Options type
  service/s3/options.go
  service/s3/s3.go
  service/s3url/options.go
  service/s3url/s3url.go
Labels: none

fix Options type (#22)
  service/s3/options.go
  service/s3/s3.go
  service/s3url/options.go
  service/s3url/s3url.go
Labels: none

add bucket and key to error message
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
Labels: none

add bucket and key to error message (#23)
  service/s3/errors.go
  service/s3/s3.go
  service/s3url/errors.go
  service/s3url/s3url.go
Labels: none

fix put (remove create empty object)
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  service/s3url/s3url.go
Labels: [#] deps, [#] doc

fix put (remove create empty object) (#24)
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  service/s3url/s3url.go
Labels: [#] deps, [#] doc
